@import "_vars.scss";
@import "_mixin.scss";

* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Lato", sans-serif;
   font-size: 0px;
}

a {
   text-decoration: none;
   color: #636363;
}

.center {
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px);
}

.header-link {
   background: $color_black;
   padding-top: 18px;
   padding-bottom: 19px;
   @include flex-center-between;
}

.left-nav {
   gap: 40px;
   @include flex-center;
}

.serch:hover path,
.burger:hover path,
.user:hover path,
.shop:hover path {
   fill: $color_pink;
   transition: $transition;
}

.right-nav {
   gap: 33px;
   @include flex-center;
}

.header {
   background: #f1e4e6;
   position: relative;
   @include flex-center-between;
}

.title {
   color: $color_pink;
   font-size: 24px;
   padding: 60px 0;
}

.nav-link {
   color: #636363;
   font-size: 14px;
   font-weight: $font-300;
   list-style: none;
   display: inline;
}

.nav-link li {
   display: inline;
}

.link::after {
   content: "/\00a0";
   padding-left: 15px;
   padding-right: 10px;
}

.nav-link :last-child .link::after {
   content: none;
}

.link:hover {
   color: $color_pink;
   transition: $transition;
}

.slide {
   background: #f7f7f7;
   padding-top: 11px;
   padding-bottom: 42px;
   text-align: center;
   position: relative;
}

.left-arrow,
.right-arrow {
   position: absolute;
   background: rgba(42, 42, 42, 0.15);
   top: 365px;
   padding: 8px;
}

.left-arrow {
   left: 0;
}

.right-arrow {
   right: 0;
}

.left-arrow:hover path,
.right-arrow:hover path {
   fill: $color_pink;
   transition: $transition;
}

//--------------------start

.product-info-wrap {
   position: relative;
   text-align: center;
   min-height: 600px;
}

.wrap-blok {
   background: $color_white;
   position: absolute;
   top: -65px;
   border: 1px solid #eaeaea;
   width: fit-content;
   padding: 65px 250px;
}

.title-product {
   color: $color_pink;
   font-size: 14px;
   font-weight: $font-300;
}

.line-red {
   margin-top: 12px;
   margin-bottom: 12px;
   width: 63px;
   margin-left: auto;
   margin-right: auto;
   border-top: none;
   border: 2px solid $color_pink;
}

.subtitle-product {
   color: #4d4d4d;
   font-size: 18px;
   font-weight: $font-300;
   margin-bottom: 48px;
}

.text-product {
   color: #5e5e5e;
   font-size: 14px;
   font-weight: $font-300;
}

.prise-product {
   margin-top: 32px;
   font-size: 24px;
   color: $color_pink;
   font-weight: $font-300;
}

.line {
   margin: 65px auto;
   border: 1px solid #eaeaea;
}

.setting-menu {
   font-size: 14px;
   color: #6f6e6e;
   @include flex-center;
   gap: 42px;
   margin-bottom: 49px;
}

.arrow-bottom {
   display: flex;
   gap: 9px;
   align-items: flex-end;
   & path {
      fill: #6f6e6e;
   }
}

.arrow-bottom:hover {
   & path {
      fill: $color_pink;
      transition: $transition;
   }
}

.button {
   padding: 15px 39px;
   font-style: normal;
   font-weight: $font-400;
   font-size: 16px;
   line-height: 19px;
   color: $color_pink;
   border: 1px solid $color_pink;
   background: none;
   transition: $transition;
}

.wrap-bottom {
   display: flex;
   align-items: center;
}

.img-shop {
   padding-right: 23px;
}

.img-shop path {
   fill: $color_pink;
   transition: $transition;
}

.button:hover {
   color: $color_white;
   background: $color_pink;
   & path {
      fill: $color_white;
   }
}

//--------------------end

.products-wrap {
   margin-top: 63px;
   margin-bottom: 128px;
   text-align: left;
   display: grid;
   grid-template-columns: repeat(3, 360px);
   justify-content: center;
   gap: 30px;
}

.add-cart-item {
   position: relative;
   display: block;
}

.add-cart {
   top: 40%;
   left: 30%;
   padding: 10px 15px;
   gap: 11px;
   border: 1px solid $color_white;
   align-items: center;
   justify-content: center;
   display: none;
   z-index: 1;
}

.text-add-cart {
   font-style: normal;
   font-weight: $font-400;
   font-size: 14px;
   line-height: 17px;
   color: $color_white;
}

.product-img {
   width: 100%;
   transition: $transition;
}

.add-cart-item:hover {
   & .product-img {
      filter: brightness(40%);
   }
   & .add-cart {
      position: absolute;
      display: flex;
   }
}

.products-item {
   background: #f8f8f8;
}

.produt-info {
   padding: 0 16px;
   margin-top: 25px;
   margin-bottom: 24px;
}

.product-title {
   margin-bottom: 16px;
   font-style: normal;
   font-weight: $font-400;
   font-size: 13px;
   line-height: 16px;
   color: $color_black;
}

.product-text {
   font-style: normal;
   font-weight: $font-300;
   font-size: 14px;
   line-height: 17px;
   color: #5d5d5d;
   margin-bottom: 16px;
}

.prise {
   font-style: normal;
   font-weight: $font-400;
   font-size: 16px;
   line-height: 19px;
   color: $color_pink;
}

.subscribe {
   position: relative;
   padding-top: 97px;
   padding-bottom: 126px;
   @include flex-center-between;
}

.subscribe {
   background-image: url(../img/photo-subscribe.jpg);
   background-position: bottom;
   background-size: cover;
}

.fon-filter {
   background: rgba(244, 244, 244, 0.7);
   position: absolute;
   left: 0%;
   right: 0%;
   top: 0%;
   bottom: 0%;
   z-index: 1;
}

.sey-item {
   width: 360px;
   text-align: center;
   z-index: 2;
}

.sey-text {
   margin-top: 30px;
   font-style: normal;
   font-weight: $font-400;
   font-size: 20px;
   line-height: 24px;
   text-align: center;
   color: $color_black;
}

.form-blok {
   z-index: 2;
}

.sey-italic {
   font-style: italic;
}

.form-title {
   font-style: normal;
   font-weight: $font-700;
   font-size: 24px;
   line-height: 167.2%;
   text-align: center;
   color: $color_black;
}

.form-text {
   font-style: normal;
   font-weight: $font-400;
   font-size: 18px;
   line-height: 167.2%;
   text-align: center;
   color: $color_black;
}

.input-email {
   margin-top: 32px;
   @include flex-center;
}

.email {
   border-top-left-radius: 22px;
   border-bottom-left-radius: 22px;
   height: 49px;
   width: 256px;
   background: #e1e1e1;
   border: none;
   font-style: normal;
   font-weight: $font-400;
   font-size: 14px;
   line-height: 17px;
   display: flex;
   align-items: center;
   color: $color_black;
   padding-left: 22px;
   opacity: 0.67;
   outline: none;
}

.button-form {
   border: none;
   width: 100px;
   height: 49px;
   border-top-right-radius: 22px;
   border-bottom-right-radius: 22px;
   background: $color_pink;
   font-style: normal;
   font-weight: $font-400;
   font-size: 14px;
   line-height: 17px;
   color: $color_white;
   transition: $transition;
   @include flex-center;
}

.button-form:hover {
   background: $color_white;
   color: $color_pink;
   transition: $transition;
}

.copyright {
   padding-top: 30px;
   padding-bottom: 30px;
   background: $color_black;
   @include flex-center-between;
}

.copy {
   font-style: normal;
   font-weight: $font-400;
   font-size: 16px;
   line-height: 19px;
   color: $color_white;
}

.icon {
   display: flex;
   gap: 8px;
}

.img-svg:hover .fon-svg {
   fill: $color_pink;
   transition: $transition;
}

.img-svg:hover path {
   fill: $color_white;
   transition: $transition;
}

// @import "_media.scss";
